:root{
    --primary-color: #004EDA;
    --grey: #F2F2F8
    --default-padding: 2rem;
    --black: #111;
    --color-text: #5A5A5F;
}

body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;

    color: var(--color-text);
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 64px auto;
    margin: 0;
}

.main-nav{
    grid-row: 1 / -1;
    grid-column: 1 / 2;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.top-nav{
    grid-row: 1 / 2;
    grid-column: 2 / -1;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main{
    grid-row: 2 / -1;
    grid-column: 2 / -1;
    background-color: #eee;
}

.main-link-novo{
    padding-left: var( --default-padding);
    padding-top: var( --default-padding);
    display: inline-block;
    color: var(--black);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.menu, 
.top-nav-menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: var(--default-padding);
}

.menu a, 
.top-nav-menu {
    text-decoration: none;
    color: #5A5A5F;
}

.topnav-menu{
    display: flex;
    gap: var(--default-padding);
}

.menus{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding-top: var(--default-padding);
}

img{
    max-width: 100%;
}

.menu:last-child{
    padding-bottom: var(--default-padding);
}

.perfil{
    margin-right: var(--default-padding);
}

.perfil-name{
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--black);
}

.perfil-rule{
    font-size: 0.7rem;
    font-weight: 500;
    text-transform: uppercase;
    color: color-mix(in srgb, var (--black), transparent 60%);
}